# Server Configuration
PORT=3000
NODE_ENV=development
CLIENT_URL=your_client_url

# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key

# Gemini AI Configuration
GEMINI_API_KEY=your_gemini_api_key

# github configuration
GITHUB_TOKEN=
GITHUB_USERNAME=



# vercel configuration 
VERCEL_TOKEN=

# render configuration 
RENDER_API_KEY=